---
import Layout from "@/layouts/LandingPage.astro";
import Hero from "@/components/layout/LandingHero.astro";

const metadata = {
	title: "Error | School-MS",
	descriptionMetaTag: "This is meta description",
	pageTitle: "This is Page Title",
};
---

<Layout {...metadata}>
	<h1 class="text-4xl font-bold text-center">
        404 - Page Not Found
    </h1>
</Layout>
