---
import Layout from "@/layouts/DashboardPage.astro";
import { Button } from "@/components/ui/button";

// Make sure the user is logged in and pb.authStore.record exists.
const metadata = {
  title: "Student | School-MS",
  descriptionMetaTag: "This is meta description",
  pageTitle: "This is Page Title",
};
---
<Layout {...metadata}>
  <main class="flex flex-col items-center justify-center h-full space-y-4">
    <h1>Student Home Page</h1>
    <Button id="uploadAvatarButton">See student Data</Button>
  </main>
</Layout>

<script>

</script>