---
import Layout from "@/layouts/DashboardPage.astro";

const metadata = {
  title: "This is title",
  descriptionMetaTag: "This is meta description",
  pageTitle: "This is Page Title",
};
---

<Layout {...metadata}>
  <main class="text-center flex flex-col items-center justify-center h-screen">
    <h1>This is Public App Pages for livestreaming class</h1>
    <p>Here you can watch live classes</p>
    <video class="border rounded  w-[400px] lg:w-[600px] " src="https://www.w3schools.com/html/mov_bbb.mp4" controls></video>
  </main>
</Layout>
